.social {
  @include reset-list();
  font-size: 3rem;
}

.social__item {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.social__link {
  color: $invert-text-color;

  &:hover {
    color: $slide-mountain-color;
  }
}

@media screen and (max-width: 768px) {
  .social {
    font-size: 2rem;
  }

  .social__item {
    margin-bottom: 1rem;
  }
}
