*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-family: $font;
  color: $main-text-color;
  word-break: break-word;

  background-color: $main-bg-color;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.hide {
    overflow: hidden;
  }
}

p {
  // http://clagnut.com/blog/2395
  // https://habr.com/ru/post/445166/
  hyphens: auto;

  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-last: always;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
}

.scrollmagic-pin-spacer {
  position: static !important;
}
