.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 10vh;
  margin: 0 auto;
  padding: 2rem 0;

  font-size: 1rem;
}

.page-header__btn {
  position: relative;

  width: 50px;
  height: 31px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $alter-bg-color;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $alter-bg-color;
  }

  &::before {
    top: 14px;
  }

  &::after {
    top: 0;
  }
}
