.btn {
  padding: 1rem 2rem;
  background: none;
  color: $main-text-color;
  border: 1px solid $main-text-color;
  font-size: 1rem;
  text-decoration: none;
  cursor: none;

  &:hover {
    cursor: none;
  }
}
