-
  var mainMenu = [
    {
      "id": "0",
      "name": "Twitter",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Youtube",
      "url": "/",
    },
    {
      "id": "20",
      "name": "Instagram",
      "url": "/"
    }
  ];
